@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #433f53;
  --error: #ff4a4a;
}

body{
  font-family: "Noto Serif";
  color: var(--secondary);
}

.App{
  margin: 10px auto;
}

.title h1{
  color: #b19b1e;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 100;
}

.title h4{
  margin-top: 60px;
  font-size: 1rem;
  text-align: center;
}

.progress_bar{
    height: 5px;
    background-color: #b19b1e;
    margin-top: 20px;
    border-radius: 5px;
}


form {
    margin: 30px auto 10px;
    text-align: center;
}

label input {
    height: 0;
    width: 0;
    opacity: 0;
}

label {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #b19b1e;
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
}

label:hover {
    background: var(--secondary);
    color: white;
}

.images{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    object-fit: contain;
    flex-wrap: wrap;
}
.img-wrap{
   margin: 10px;
   width: 300px;
   height: 350px;
}

.img-wrap img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;
}
.Header{
        background-color: var(--secondary);
        color: #acaa9e;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        left: 0;
        top: 0;
        width: 100%;
}
.footer{
    background-color: var(--secondary);
    color: #acaa9e;
    display: flex;
    justify-content: space-around;
    padding:  20px 0;
    left: 0;
    bottom: 0;
   width: 100%;
}
.footer h3{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: 100;
}


.img-wrap :hover{
  opacity: .5;
}

@media screen and (max-width: 768px){
.img-wrap{
    width:250px;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
    .img-wrap {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 375px) {
    .img-wrap {
        width: 100%;
        height: 100%;
    }
}